{% load static %}

<!DOCTYPE html>

<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>< CHROMATIC ></title>
    <link rel="shortcut icon" type="image/png" href="{%  static '1.png' %}"/>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet' %}" type="text/css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{% static 'css/grayscale.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/form-elements.css'%}" rel="stylesheet">
    <link href="{% static 'css/stylenw.css'%}" rel="stylesheet">

  </head>

  <body id="page-top">


    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">< CHROMATIC ></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#developers">Developers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>

    <!-- Intro Header -->
    <header class="masthead">
      <div class="intro-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <h1 class="brand-heading">< CHROMATIC ></h1>
              <p class="intro-text">A Personalized Music Experience.
                <br>Created for Musicians, Solo Artists, and Audiophiles</p>
              <a href="#about" class="btn btn-circle js-scroll-trigger">
                <i class="fa fa-angle-double-down animated"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- About Section -->
    <section id="about" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>About Chromatic</h2>
            <p>Cromatic is a python and Django based web application.
              It's main purpose is to serve you with organization of your music in the most personalized way possible.
                                           <br>   One credential, multiple devices;)              </p>
            <p>So Start uploading downloading and enjoying the seamless experince.</p>
              <a href="#login" class="btn btn-circle js-scroll-trigger">
                <i class="fa fa-angle-double-down animated"></i>
              </a>
          </div>
        </div>
      </div>
    </section>

    <!-- Download Section -->

    <section id="login" class="download-section content-section text-center" style="padding-top: 70px">
      <div class="container">
          <div class="row">
                        <div class="col-lg-8 mx-auto"> <!--class=col-sm-6 col-sm-offset-3 form-box-->
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h3>Login to our site</h3>
                            		<p>Enter your username and password to log in:</p>
                        		</div>
                        		<div class="form-top-right">
                        			<i class="fa fa-lock"></i>
                        		</div>
                            </div>
                            <div class="form-bottom">
                                {% if error_message %}
                                        <p><strong>{{ error_message }}</strong></p>
                                {% endif %}

			                    <form role="form" action="{% url 'music:login_user'%}" method="post" enctype="multipart/form-data">
			                    	{% csrf_token %}
                                    <div class="form-group">

			                    		<label class="sr-only" for="form-username">Username</label>
			                        	<input placeholder="User Name" maxlength="30" name="username" type="text"  class="form-username form-control">
			                        </div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="form-password">Password</label>
			                        	<input placeholder="Password" name="password" type="password" class="form-password form-control">
			                        </div>
			                        <button type="submit" class="btn">Sign in!</button><br><br>
                                    <!--<a href="#" class="btn btn-link" style="color: black ">forget Password</a>-->
                                    <div class="panel-footer">
                                        Don't have an account? <a href="{% url 'music:register' %}">Click here</a> to register.
                                    </div>

			                    </form>
		                    </div>
                        </div>
                    </div>
        <!--<div class="col-lg-8 mx-auto">
          <h2>Login</h2>
          <p>You can download and Upload Music for free .</p>
          <a href="{% url 'music:login_user'%} " class="btn btn-default btn-lg">Visit Login page/ Signup page</a>
        </div>-->
      </div>
    </section>

<!--<img src="{%  static 'img/arpit.jpg' %}
    <section id="developers">
    <div class="container-fluid">
        <div class="row" style="margin-left: 2%">
    <div id="small-img">

        <img src="{%  static 'img/arpit.jpg' %}" class="img-responsive inline" alt="" style="width: 310px"/>
            <img src="{%  static 'img/aa.jpg' %}" class="img-responsive inline" alt="" style="width: 310px"/>
            <img src="{%  static 'img/guru.jpg' %}" class="img-responsive inline" alt="" style="width: 310px"/>
            <img src="{%  static 'img/akshita.jpg' %}" class="img-responsive inline" alt="" style="width: 310px"/>

    </div>
    </div>
    </div>
    </section>
-->
    <section class="probootstrap-footer" id="developers" style="padding-top: 70px">
      <div class="container">
        <div class="row">
          <div class="col-md-12 probootstrap-animate">
            <div class="probootstrap-footer-widget">
              <h3>DEveloprs</h3>
              <div class="row">
                <div class="col-md-3">
                  <img src="{%  static 'img/arpit.jpg' %}" class="img-responsive inline" alt="Arpit" style="width: 270px">
					<p>Arpit Dhall</p>
                </div>
                <div class="col-md-3">
                 <img src="{%  static 'img/aa.jpg' %}" class="img-responsive inline" alt="Amar Kumar" style="width: 260px">
                    <a href="https://meamar.000webhostapp.com/"><p style="color: white">Amar Kumar</p></a>
                </div>
				  <div class="col-md-3">
                 <img src="{%  static 'img/guru.jpg' %}" class="img-responsive inline" alt="Gurucharan" style="width: 260px">
					<p>V.Gurucharan</p>
                </div>
				  <div class="col-md-3">
                 <img src="{%  static 'img/akshita.jpg' %}" class="img-responsive inline" alt="Akshita" style="width: 260px">
					<p>Akshita</p>
                </div>

              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </section>

    <section id="contact" class="content-section text-center">
    <div class="col-lg-8 mx-auto">
          <h2>Contact</h2>
          <p>You can mail us at .</p>
          <p>chromaticmusic1@gmail.com</p>
        <p>Or write us via </p>
          <a href="{% url 'music:contact'%} " class="btn btn-default btn-lg">Visit Contact page</a>
        </div>
<!--
<div class="container">
    <div class="well well-sm">
      <h3><strong>Contact Us</strong></h3>
    </div>

	<div class="row">
	  <div class="col-md-7">
        <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d3736489.7218514383!2d90.21589792292741!3d23.857125486636733!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sbd!4v1506502314230" width="100%" height="315" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>

      <div class="col-md-5">
          <h4><strong>Get in Touch</strong></h4>

        <form role="form" action="" method="post" enctype="multipart/form-data" onSubmit="alert('Thank you for your feedback.');">
            {% csrf_token %}
          <div class="form-group">
            <input type="text" class="form-control" name="name" value="" placeholder="Name">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" name="email" value="" placeholder="E-mail">
          </div>
          <div class="form-group">
            <input type="tel" class="form-control" name="phone" value="" placeholder="Phone">
          </div>
          <div class="form-group">
            <textarea class="form-control" name="" rows="3" placeholder="Message" name="message" value=""></textarea>
          </div>
          <button class="btn btn-default" type="submit" name="button">
              <i class="fa fa-paper-plane-o" aria-hidden="true"></i> Submit
          </button>
        </form>
      </div>
    </div>
  </div>
-->
</section>

    <!-- Contact Section
    <section id="contact" class="content-section text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Contact Us</h2>
            <p>Feel free to leave us a comment on the Social media.</p>
            <ul class="list-inline banner-social-buttons">
              <li class="list-inline-item">
                <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg">
                  <i class="fa fa-twitter fa-fw"></i>
                  <span class="network-name">Twitter</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://github.com/BlackrockDigital/startbootstrap" class="btn btn-default btn-lg">
                  <i class="fa fa-github fa-fw"></i>
                  <span class="network-name">Github</span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg">
                  <i class="fa fa-google-plus fa-fw"></i>
                  <span class="network-name">Google+</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer>
      <div class="container text-center">
        <p>Copyright &copy; Chromatic 2018</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static "vendor/jquery-easing/jquery.easing.min.js" %}"></script>

    <!-- Google Maps API Key - Use your own API key to enable the map feature. More information on the Google Maps API can be found at https://developers.google.com/maps/ -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRngKslUGJTlibkQ3FkfTxj3Xss1UlZDA&sensor=false"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static "js/grayscale.min.js" %}"></script>
</body>

</html>